@use '../global' as *;


*:focus {
	border-color: inherit !important;
	box-shadow: none !important;
	outline: none !important;
}

html {
	font-size: 62.5%; // 1.6rem = 16px, 2.0rem = 20px, etc...
	scroll-behavior: smooth;
	@media (max-width: 767px) {
		font-size: 60%; // Reducimos el tamaño en móvil.
	}
}

body {
	font-family: 'GeneralSans-Regular';
	font-size: 1.4rem;
	line-height: 2rem;
	margin: 0;
}

.title-page {
	color: #b82c2d;
	display: inline-block;
	font-family: 'GeneralSans-Regular';
	font-size: 1.2rem;
	margin: 50px 0;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;

}

.wpmm_brand_logo_wrap {
	display: none;
}

.nav {
	&.secondary {
		background: #f6f6f4;

		.menu-wrapper {
			align-items: center;
			display: flex;
			justify-content: space-between;

			li {
				display: inline-block;
				list-style: none;
				margin: 0 20px;
			}
			
		}
	}

	&.primary {
		align-items: center;
		display: flex;
		justify-content: space-between;		
	}

}
