@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@100;200;300&display=swap');

@font-face {
	font-display: swap;
	font-family: 'GeneralSans-Regular';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/GeneralSans-Regular.woff2') format('woff2'),
		url('../fonts/GeneralSans-Regular.woff') format('woff'),
		url('../fonts/GeneralSans-Regular.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'GeneralSans-Italic';
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/GeneralSans-Italic.woff2') format('woff2'),
		url('../fonts/GeneralSans-Italic.woff') format('woff'),
		url('../fonts/GeneralSans-Italic.ttf') format('truetype');
}
  
  
@font-face {
	font-display: swap;
	font-family: 'GeneralSans-Medium';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/GeneralSans-Medium.woff2') format('woff2'),
		url('../fonts/GeneralSans-Medium.woff') format('woff'),
		url('../fonts/GeneralSans-Medium.ttf') format('truetype');
}
  

@font-face {
	font-display: swap;
	font-family: 'GeneralSans-Bold';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/GeneralSans-Bold.woff2') format('woff2'),
		url('../fonts/GeneralSans-Bold.woff') format('woff'),
		url('../fonts/GeneralSans-Bold.ttf') format('truetype');
}
