
.title-small.elementor-widget.elementor-widget-text-editor,
.title-small {
	color: #7e7e7e;
	display: block;
	font-size: 1.4rem;
	margin-bottom: 0;

}

.title-description {
	.elementor-widget:not(:last-child) {
		margin-bottom: 0;
	}     

	h2 {
		color: #121212;
		font-size: 4rem;
		margin-bottom: 50px;
	}

	strong {
		color: #7e7e7e;
		font-size: 1.2rem;
		text-transform: uppercase;
	}
}

.elementor-column-gap-default>.elementor-column>.elementor-element-populated {
	padding: 0 10px !important;
}

.elementor-counter .elementor-counter-title {
	font-family: 'GeneralSans-Regular' !important;
	font-size: 1.4rem !important;
	line-height: 18px !important;
}

.elementor-counter .elementor-counter-number-prefix,
.elementor-counter .elementor-counter-number-wrapper {
	font-family: 'GeneralSans-Regular' !important;
	font-weight: 100 !important;;

}

.elementor-counter .elementor-counter-number-prefix {
	font-size: 3rem !important;
	line-height: 70px !important;
}

.text-32 {
	font-size: 3.2rem;
	line-height: 42px;
}

.text-20 {
	font-size: 2rem;
	line-height: 32px;
}

.elementor-social-icon {
	background: none !important;
}
