.block-testimonial-source {
	.elementor-container {
		align-items: center;
		display: flex;
		padding: 40px 0;

		.title-small {
			font-size: 1.2rem;
			margin-bottom: 25px;
			text-transform: uppercase;
		}

		strong {
			font-weight: 400;
		}

		h2 {
			font-size: 4.8rem;
			line-height: 5rem;
		}

		&::before {
			background: #fbe3e8;
			content: '';
			display: block;
			height: 100%;
			position: absolute;
			right: 0;
			width: 80%;
		}

		img {
			max-height: 484px;
			width: auto;
		}
	}

	.block-data {
		h2 {
			font-size: 4.8rem;
			line-height: 27px;
		}

		p {
			font-size: 16px;
		}

		.source {
			font-size: 1.2rem;
		}
	}
}
