.block-steps {
	.number {
		align-items: center;
		background: #d7fed7;
		border-radius: 50%;
		color: #121212;
		display: block;
		display: flex;
		font-size: 20px;
		height: 50px;
		justify-content: center;
		margin: auto;
		text-align: center;
		width: 50px;
	}
}
