.block-reconocimientos {
	h2 {
		font-size: 3.2rem;
		line-height: 42px;
	}

	svg {
		max-width: 30px;
	}

	.elementor-icon-box-title span {
		font-size: 2.4rem;
		line-height: 23px;
	}

	.elementor-icon-box-description {
		font-size: 2rem;
		font-weight: 100;
		line-height: 32px;
	}
}
